<h1>Users#playlists</h1>

<table class="table table-bordered table-hovered table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Duration</th>
      <th>Genre</th>
      <th> - </th>
    </tr>
  </thead>

  <tbody>
    <% @user.playlists.each do |p| %>
      <tr>
        <td><%= p.song.name %></td>
        <td><%= p.song.duration %></td>
        <td><%= p.song.genre %></td>
        <% if can? :destroy, p %>
			<td>
				<%= link_to "Borrar Canción", user_playlist_path(@user, p), method: :delete %>
			</td>
		<% end -%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>